*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}
.container{
    width: 1280px;
    margin: auto;
    /* background-color: #bebebe; */
}

.top-header{
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.country-btn{
    font-size: 14px;
    border: none;
    background-color: #fff;
    color: #61aefa;
}

.top-header a {
    font-size: 14px;
    text-decoration: none;
    color: #61aefa;
}

.main-block{
    width: 100%;
    height: 615px;
    background-image: url('../img/bg-applicant-asia-2__min_.jpg');
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0px;
}

.logo-link {
    background-color: red;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}


.header-left ul {
    display: flex;
}


.header-right ul {
    display: flex; 
}

.header-left ul li {
    margin-left: 15px;
}


.header-right ul li {
    margin-left: 15px;
}

.header-link:hover {
    color: #61aefa;
    transition: .5s;
}

#create-resume {
    color: #a3daa5;
    border: 1px solid #a3daa5;
    border-radius: 30px;
    padding: 10px 15px;
}

#sign-in{
    color: #cec8c8;
    border: 1px solid #cec8c8;
    border-radius: 30px;
    padding: 10px 15px;
}

#create-resume:hover {
    color:#06f30e;
    border-color: #06f30e;
    transition: .5s;
}

#sign-in:hover {
    color: #ffffff; 
    border-color: #ffffff; 
    transition: .5s;
}



.main-block-center{
    width: 1200px;
    display: inline-block;
    margin: 100px;
    margin-left: 25%;
}

.input-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 60%;
    border: none;
    

}

.block-input{
    display: inline-block;
    height: 60px;
    width: 100%;
    padding: 0px 12px;
    position: relative;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 5px;
    border: #fff;

}


.header_find{
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px;
}

.find{
    border-radius: 5px ;
    border: none;
    color: #fff;
    background-color: #2c97f5;
    font-size: 16px;
    height: 60px;
    width: 35%;
}


